<div class="container">
    <div class="left-group">
        <div class="top-left-group">
            <div class="item" *ngFor="let item of listinfo,let i = index">
                <div class="item-group-info">
                    <img [src]="item.icon" alt class="icon">
                    <div class="percentage" *ngIf="item.percentage!=0">{{item.percentage > 0 ? "+" +
                        item.percentage: item.percentage}}%</div>
                    <img
                        [src]="item.percentage > 0 ? '/assets/Image/RestaurantDetails/UpArrow.png' : '/assets/Image/RestaurantDetails/DownArrow.png'"
                        alt class="value-up-or-down" *ngIf="item.percentage!=0">
                        <button *ngIf="i==2" (click)="ShowPopupUpdateCash()">Modify Cash</button>
                        <div class="filter-popup " *ngIf="popupUpdateCash && i==2">
                            <div class="close" (click)="ShowPopupUpdateCash()">x</div>
                            <div class="item-to-filter">
                                <div class="amount" >Amount</div>
                                <input type="number" #amount>
                                <br>
                                <br>
                                <button (click)="UpdateCash(amount.value)">Submit</button>
                            </div>
                        </div>
                </div>
                <div class="value">{{AddCommaToNumber(item.value)}}</div>
                <div class="name">{{item.name}}</div>
            </div>
        </div>
        <div class="bottom-left-group">
            <div class="info-group">
                <div class="name">Order Report</div>
                <button (click)="ShowPopupFilter()">Filter</button>
                <div class="filter-popup" *ngIf="popupFilterStatus">
                    <div class="close" (click)="ShowPopupFilter()">x</div>
                    <div class="item-to-filter">
                        <label for="status">Status:</label>
                        <select name="status" #status (change)="Filter(status.value)">
                            <option value="thất bại">Failed</option>
                            <option value="đang giao">Preparing</option>
                            <option value="hoàn thành" selected>Completed</option>
                        </select>
                    </div>
                </div>
            </div>
            <table CELLSPACING=0>
                <thead>
                    <tr>
                        <td>Customer</td>
                        <td>Payment Method</td>
                        <td>Payment Status</td>
                        <td>Total Price</td>
                        <td>Order Time</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderReport">
                        <td class="customer">
                            <img [src]="item.avatar" alt>
                            <span>{{item.customer}}</span>
                        </td>
                        <td>
                            {{item.payment_method}}
                        </td>
                        <td>
                            {{item.payment_status == 0 ? "Chưa thanh toán" :
                            "Đã Thanh Toán"}}
                        </td>
                        <td>
                            {{item.amount}} VND
                        </td>
                        <td>
                            {{item.order_time}}
                        </td>
                        <td>
                            <span
                                [style.--color]="orderReportStatus[item.status]?.color"
                                [style.--bgColor]="orderReportStatus[item.status]?.bgColor">{{orderReportStatus[item.status]?.text}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="right-group">
        <div class="group">
            <div class="name">Most Ordered</div>
            <button>Today</button>
        </div>
        <div class="item-group">
            <div class="item" *ngFor="let item of mostOrder">
                <img [src]="item.image_url" alt>
                <div class="info-group">
                    <div class="name">{{item.food_name}}</div>
                    <div class="ordered">{{item.quantity_sold}} dishes
                        ordered</div>
                </div>
            </div>
        </div>
    </div>
    
</div>


