<div class="container">
    <div class="detail-container">
        <div class="text">Details</div>
        <table CELLSPACING=0>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Restaurant</td>
                    <td>Local</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listRestaurants?.suppliers" routerLink="/restaurant-details"
                [queryParams]="{ restaurantid: item.id }">
                    <td>{{item.id}}</td>
                    <td>{{item.restaurant_name}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>