<div class="container">
    <div class="search">
        <input type="text" placeholder="Input Restaurant" #search>
        <button><img src="/assets/Image/Navigation/SearchIcon.svg" alt (click)="Search(search.value)"></button>
    </div>
    <div class="list-item">
        <div class="item" *ngFor="let item of listRestaurants?.suppliers" routerLink="/restaurant-details"
        [queryParams]="{ restaurantid: item.id }">
            <img [src]="item.img_url" alt="" class="logo">
            <div class="info-group">
                <div class="date">{{item.date}}</div>
                <div class="name">{{item.restaurant_name}}</div>
                <div class="description">{{item.description}}</div>
                <div class="stars-container">
                    <img src="/assets/Image/CustomerDetails/YellowStar.png" alt="" class="star" *ngFor="let star of [].constructor(NumberToFixed(item.total_star_rating))">
                </div>
            </div>
        </div>
    </div>

</div>