.container{
    // border: solid red 1px;
}

.list-item{
    margin: 20px 80px;
}

.list-item .item{
    display: flex;
    cursor: pointer;
    margin-bottom: 48px;
}

.list-item .item:hover{
    background-color:#fff3ea;
    transition: 0.3s;
}


.list-item .item .logo{
    border-radius: 10px;
    width: 280px;
    height: 170px;
}

.list-item .item .info-group{
    margin: 30px 0 0 32px;
}

.list-item .item .info-group .date{
    margin-bottom: 5px;
}

.list-item .item .info-group .name{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;

}

.list-item .item .info-group .description{
    margin-bottom: 18px;
}

.list-item .item .info-group .stars-container .star{
    width: 25px;
}

.search{
    position: relative;
    margin-top: 200px;
    margin-left: 400px;
    margin: auto;
    display: flex;
    cursor: pointer;
}


.search input{
    border: solid black 1px;
    width: 385px;
    padding: 16.5px 64px 16.5px 64px;
    font-size: 18px;
    background-color: #F9FAFB;
    border-radius: 16px 0 0 16px;
}

.search button{
    border: solid black 1px;
    padding: 10.5px 20px 10.5px 20px;
    font-size: 18px;
    background-color: #F9FAFB;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 0 16px 16px 0 ;
}

.search input::placeholder{
    margin-left: 20px;
    color: rebeccapurple;
}