<div class="container user-info">
    <div class="info">
        <p>ID: {{userInfo?.id}}</p>
        <p>Email: {{userInfo?.email}}</p>
        <p>Name: {{userInfo?.full_name}}</p>
        <p>Gender: {{userInfo?.gender}}</p>
        <p>Phone: {{userInfo?.phone_number}}</p>
        <p>Role: {{userInfo?.role.name}}</p>
        <p>Status: {{userInfo?.active == true ? "Is active" : "Is not active"}}</p>
        <button (click)="UpdateStatus(userInfo?.active ? 0 : 1)">
            Click here to {{userInfo?.active ? "deactivate" : "activate"}}
        </button>
    </div>
</div>