<div class="container">
    <div class="detail-container">
        <div class="text">Details</div>
        <table CELLSPACING=0>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listCustomers" routerLink="/customer-detail"
                [queryParams]="{ customerid: item.id }">
                    <td>{{item.id}}</td>
                    <td>{{item.fullName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.active==true? "Hoạt động" : "Không Hoạt động"}}</td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <button *ngFor="let item of [].constructor(paging.numberOfPage), let i = index" (click)="LoadData(i)" [class]="i==paging.currPage ? 'selected' : ''">{{i + 1}}</button>
        </div>
    </div>
</div>